# Eclipse
/**/.settings/
/**/build/
*.class
*.project
*.classpath

# Intellij
/**/.idea/
*.iml
*.iws
.nyc_output/

# VS Code
.vscode/
.lh/

# Mac
.DS_Store

# ClearCase
*.copyarea.db
*.keep

# Git
*.orig

# build files
/**/src/main/docker/build/
node_modules

